.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 6rem; 
  height: 6rem; 
}

.weather-info {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading {
  font-size: 18px;
  color: #555;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temperature-celsius {
  font-size: 5rem;
  color: #007bff;
}

.weather-condition {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}